{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Pokemon World{% endblock %}</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="stylesheet" href="{% static 'responsive.css' %}">
</head>

<body>
    <!--JS code to make messages disappear in 4.5 sec-->
	<script text="javascript">
    setTimeout(fade_out, 4500);
    function fade_out() {
        $(".alert").fadeOut().empty();
    }
    $(".was_validated")[0].reset(); // this is to reset the form
	</script>

    <div class="wrapper">

        {% include 'inc/_header.html' %}

        {% if messages %}
            {% for message in messages%}
                {% if message.tags == "error" %}
                <div class="bg-danger">
                    <div class="alert alert-danger" role="alert">
                        {{message}}
                    </div>
                </div>
                {% else %}
                <div class="alert alert-{{message.tags}}">
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{message}}
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
        {% block content %} {% endblock %}



        {% include 'inc/_footer.html' %}


    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/active.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</body>

</html>